@using Base.Resources
@using App.Resources.Areas.App.Domain.AdminArea
@model WebApp.Areas.AdminArea.ViewModels.DetailsDeleteVehicleMarkViewModel

@{
    ViewData["Title"] = @Common.Details;
}

<h1>@Common.Details</h1>

<div>
    <h4>@VehicleMark.VehicleMarkName</h4>
    <hr />
    <partial name="_DetailsDeleteVehicleMark" model="Model"/>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">@Common.Edit</a> |
    <a asp-action="Index">@Common.BackToList</a>
</div>
