@model WebApp.Areas.AdminArea.ViewModels.DetailsDeleteDriverViewModel
@using Base.Resources
@using App.Resources.Areas.App.Domain.AdminArea

@{
    ViewData["Title"] = Common.Delete;
}

<h1>@Common.Delete</h1>

<h3>@Common.AreYouSureYouWantToDeleteThis</h3>
<div>
    <h4>@Driver.JobTitle</h4>
    <hr />
    <partial name="AdminArea/PartialViews/_DetailsDeleteDriver" model="Model"/>
    
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="@Common.Delete" class="btn btn-danger" /> |
        <a asp-action="Index">@Common.BackToList</a>
    </form>
</div>
