@model WebApp.Areas.CustomerArea.ViewModels.DetailsDeleteCommentViewModel

<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Drive)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Drive)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.DriverName)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.DriverName)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.CommentText)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.CommentText)
    </dd>
    @if (Model.StarRating > 0)
    {
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.StarRating)
    </dt>
    <dd class="col-sm-10">
        <td>
            <ejs-rating id="rating" ejs-for="StarRating!.Value "
                        readOnly=true></ejs-rating>
        </td>
    </dd>
    }
</dl>