@page
@using App.Resources.Areas.Identity.Pages.Account
@using Base.Resources
@using App.Enum.Enum
@model RegisterDriverModel
@{
    ViewData["Title"] = DriverRegister.RegisterDriver;
}

<h1>@DriverRegister.RegisterDriver</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>@Register.RegisterAccount</h2>
            <hr/>
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" alt="@DriverRegister.EnterYourEmailAddressHere"
                       placeholder="@DriverRegister.EnterYourEmailAddressHere"/>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control" alt="@DriverRegister.EnterYourFirstNameHere"
                       placeholder="@DriverRegister.EnterYourFirstNameHere"/>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control" alt="@DriverRegister.EnterYourLastNameHere"
                       placeholder="@DriverRegister.EnterYourLastNameHere"/>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Gender"></label>
                <select asp-for="Input.Gender" class="form-control" asp-items="Html.GetEnumSelectList<Gender>()">
                    <option>@Common.PleaseSelect</option>
                </select>
                <span asp-validation-for="Input.Gender" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.DateOfBirth"></label>
                <input asp-for="Input.DateOfBirth" class="form-control" alt="@DriverRegister.EnterYourDateOfBirthHere"
                       placeholder="@DriverRegister.EnterYourDateOfBirthHere"/>
                <span asp-validation-for="Input.DateOfBirth" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.PersonalIdentifier"></label>
                <input asp-for="Input.PersonalIdentifier" class="form-control"
                       alt="@DriverRegister.EnterYourPersonalIdentifierCodeHere"
                       placeholder="@DriverRegister.EnterYourPersonalIdentifierCodeHere"/>
                <span asp-validation-for="Input.PersonalIdentifier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.DriverLicenseNumber"></label>
                <input asp-for="Input.DriverLicenseNumber" class="form-control"
                       alt="@DriverRegister.EnterYourDriverLicenseNumberHere"
                       placeholder="@DriverRegister.EnterYourDriverLicenseNumberHere"/>
                <span asp-validation-for="Input.DriverLicenseNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.DriverAndDriverLicenseCategories"></label>
                <select multiple="multiple" asp-for="Input.DriverAndDriverLicenseCategories" class="form-control"
                        asp-items="Model.DriverLicenseCategories">
                </select>
                <span asp-validation-for="Input.DriverAndDriverLicenseCategories" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ExpiryDate"></label>
                <input asp-for="Input.ExpiryDate" class="form-control"
                       alt="@DriverRegister.ChooseTheExpiryDateOfYourDriverLicense"/>
                <span asp-validation-for="Input.ExpiryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.CityId"></label>
                <select asp-for="Input.CityId" class="form-control" asp-items="Model.Cities">
                    <option>@Common.PleaseSelect</option>
                </select>
                <span asp-validation-for="Input.CityId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.Address"></label>
                <input asp-for="Input.Address" class="form-control" alt="@DriverRegister.EnterYourAddressOfResidenceHere"
                       placeholder="@DriverRegister.EnterYourAddressOfResidenceHere"/>
                <span asp-validation-for="Input.Address" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" alt="@DriverRegister.EnterYourPhoneNumberHere"
                       placeholder="@DriverRegister.EnterYourPhoneNumberHere"/>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" alt="@DriverRegister.EnterYourPasswordHere"
                       placeholder="@DriverRegister.EnterYourPasswordHere"/>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control"
                       alt="@DriverRegister.EnterPasswordConfirmationHere" placeholder="@DriverRegister.EnterPasswordConfirmationHere"/>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>


            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">@Register.RegisterAccount</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>@Register.LoginThirdParty</h3>
            <hr/>
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            @Register.NoThirdParty
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-page-handler="Driver" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}