@using App.Resources.Areas.App.Domain.AdminArea
@using Base.Resources
@model WebApp.Areas.AdminArea.ViewModels.DetailsDeleteDriverLicenseCategoryViewModel
@{
    ViewData["Title"] = Common.Details;
}

<h1>@Common.Details</h1>

<div>
    <h4>@DriverLicenseCategory.DriverLicenseCategoryName</h4>
    <hr/>
    <dl class="row">
        <partial name="AdminArea/PartialViews/_DetailsDeleteDriverLicenseCategory" model="Model"/>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">@Common.Edit</a> |
    <a asp-action="Index">@Common.BackToList</a>
</div>