@model IEnumerable<App.Domain.Admin>
@using Base.Resources
@{
    ViewData["Title"] = Common.Index;
}

<h1>@Common.Index</h1>

<p>
    <a asp-action="Create">@Common.CreateNew</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AppUser!.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppUser!.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppUser!.LastAndFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppUser!.DateOfBirth)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.AppUser!.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonalIdentifier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppUser!.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppUser!.IsActive)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AppUser!.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AppUser!.FirstName)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.AppUser!.LastAndFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AppUser!.DateOfBirth)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.AppUser!.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PersonalIdentifier)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City!.CityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AppUser!.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AppUser!.IsActive)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.Id">@Common.Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">@Common.Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">@Common.Delete</a>
        </td>
    </tr>
}
    </tbody>
</table>
