@using App.Resources.Areas.App.Domain
@using App.Resources.Areas.App.Domain.AdminArea

@model IEnumerable<App.Domain.Drive>

@{
    ViewData["Title"] = Base.Resources.Common.Index;
}

<h1>@Base.Resources.Common.Index</h1>


<form action="@Url.Action("SearchByDate")" method="post">
    <input type="date" name="search"/>
    <input type="submit" value="@Base.Resources.Common.Search"/>
</form>
<p>
    <a asp-action="Print">@Common.CreatePdf</a>
</p>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Booking!.Schedule!.ShiftDurationTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Booking!.Customer!.AppUser!.LastAndFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Booking!.Customer!.DisabilityType)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Booking!.PickUpDateAndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Booking!.City!.CityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Booking!.PickupAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Booking!.DestinationAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Booking!.VehicleType!.VehicleTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Booking!.Vehicle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Booking!.NumberOfPassengers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Booking!.HasAnAssistant)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Booking!.StatusOfBooking)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>

        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Booking!.Schedule!.ShiftDurationTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Booking!.Customer!.AppUser!.LastAndFirstName)
            </td>
            <td>
                @Html.DisplayTextFor(modelItem => item.Booking!.Customer!.DisabilityType!.DisabilityTypeName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Booking!.PickUpDateAndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Booking!.City!.CityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Booking!.PickupAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Booking!.DestinationAddress)
            </td>
            <td>
                @Html.DisplayTextFor(modelItem => item.Booking!.VehicleType!.VehicleTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Booking!.Vehicle!.VehicleIdentifier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Booking!.NumberOfPassengers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Booking!.HasAnAssistant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Booking!.StatusOfBooking)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Booking!.Drive!.Comment!.CommentText)
            </td>
            <td>
                <a asp-action="" asp-route-id="@item.Id">@Drive.Accept</a> |
                <a asp-action="" asp-route-id="@item.Id">@Drive.Decline</a> |
                <a asp-action="" asp-route-id="@item.Id">@Drive.InProgress</a> |
                <a asp-action="" asp-route-id="@item.Id">@Drive.Finished</a> |
                <a asp-action="Details" asp-route-id="@item.Id">@Base.Resources.Common.Details</a> 
                
            </td>
        </tr>
    }
    </tbody>
</table>