@using App.Resources.Areas.App.Domain.AdminArea
@using Base.Resources
@model WebApp.Areas.AdminArea.ViewModels.DriveStateViewModel


@{
    ViewData["Title"] = Drive.InProgress;
}

<h1>@Drive.SettingDriveIntoInProgressState</h1>

<div>
    <h4>@Drive.DriveName</h4>
    <hr/>
    <dl class="row">
        <partial name="AdminArea/PartialViews/_DriveState" model="Model"/>
    </dl>
    <form asp-action="StartDrive">
        <input type="hidden" asp-for="Id"/>
        <input type="submit" value="@Drive.SettingDriveIntoInProgressState" class="btn btn-danger"/>
    </form>
</div>
<div>
    <a asp-action="Accept" asp-route-id="@Model.Id">@Drive.Accept</a> |
    <a asp-action="Decline" asp-route-id="@Model.Id">@Drive.Decline</a> |
    <a asp-action="" asp-route-id="@Model.Id">@Drive.Finished</a> |
    <a asp-action="Details" asp-route-id="@Model?.Id">@Common.Details</a> |
    <a asp-action="Index">@Common.BackToList</a>
</div>