@using App.Resources.Areas.App.Domain.DriverArea
@using Base.Resources
@model WebApp.Areas.DriverArea.ViewModels.DetailsDeleteVehicleViewModel

@{
    ViewData["Title"] = Common.Delete;
}

<h1>@Common.Delete</h1>

<h3>@Common.AreYouSureYouWantToDeleteThis</h3>
<div>
    <h4>@Vehicle.VehicleName</h4>
    <hr/>
    <partial name="DriverArea/PartialViews/_DetailsDeleteVehicle" model="Model"/>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id"/>
        <input type="submit" value="@Common.Delete" class="btn btn-danger"/> |
        <a asp-action="Index">@Common.BackToList</a>
    </form>
</div>