@using App.Resources.Areas.App.Domain.DriverArea
@using Base.Resources
@model WebApp.Areas.DriverArea.ViewModels.DetailsDriveViewModel

@{
    ViewData["Title"] = Common.Details;
}

<h1>@Common.Details</h1>

<div>
    <h4>@Drive.DriveName</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Schedule)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShiftDurationTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerLastAndFirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerLastAndFirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PickupDateAndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PickupDateAndTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PickupAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PickupAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DestinationAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DestinationAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VehicleType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleIdentifier)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VehicleIdentifier)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfPassengers)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfPassengers)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HasAnAssistant)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HasAnAssistant)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StatusOfBooking)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StatusOfBooking)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StatusOfDrive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StatusOfDrive)
        </dd>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CommentText)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CommentText)
        </dd>
        @if (Model.StarRating > 0)
        {
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StarRating)
        </dt>
        <dd class="col-sm-10">
            <td>
                <ejs-rating id="rating" value="@Model.StarRating.Value"
                            readOnly=true></ejs-rating>
            </td>
        </dd>
        }
        

        @if (Model.IsDriveAccepted)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DriveAcceptedDateAndTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DriveAcceptedDateAndTime)
            </dd>
        }
        @if (Model.IsDriveDeclined)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DriveAcceptedDateAndTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DriveDeclineDateAndTime)
            </dd>
        }
        @if (Model.IsDriveStarted)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DriveAcceptedDateAndTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DriveInProgressDateAndTime)
            </dd>
        }
        
        @if (Model.IsDriveFinished)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DriveFinishedDateAndTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DriveFinishedDateAndTime)
            </dd>
        }

    </dl>
</div>
<div>
    <a asp-action="Accept" asp-route-id="@Model.Id">@Drive.Accept</a> |
    <a asp-action="Decline" asp-route-id="@Model.Id">@Drive.Decline</a> |
    <a asp-action="StartDrive" asp-route-id="@Model.Id">@Drive.InProgress</a> |
    <a asp-action="EndDrive" asp-route-id="@Model.Id">@Drive.Finished</a> |
    @*<a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |*@
    <a asp-action="Index">@Common.BackToList</a>
</div>