@using System.Text
@model WebApp.Areas.AdminArea.ViewModels.DetailsDeleteCommentViewModel

<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Drive)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Drive)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.CustomerName)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.CustomerName)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.DriverName)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.DriverName)
    </dd>
    @if (Model.StarRating > 0)
    {
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StarRating)
        </dt>
        <dd class="col-sm-10">
        <td>
            <ejs-rating id="rating" ejs-for="StarRating.Value "
                        readOnly=true></ejs-rating>
        </td>
        </dd>
    }
    
        
    
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.CommentText)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.CommentText)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.CreatedBy)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.CreatedBy)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.CreatedAt)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.CreatedAt)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.UpdatedBy)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.UpdatedBy)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.UpdatedAt)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.UpdatedAt)
    </dd>
</dl>