@using Base.Resources
@model IEnumerable<App.BLL.DTO.AdminArea.DisabilityTypeDTO>

@{
    ViewData["Title"] = Common.Index;
}

<h1>@Common.Index</h1>

<p>
    <a asp-action="Create">@Common.CreateNew</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DisabilityTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </th>

        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayTextFor(modelItem => item.DisabilityTypeName)
            </td>
            <td>
                @Html.DisplayTextFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayTextFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayTextFor(modelItem => item.UpdatedBy)
            </td>
            <td>
                @Html.DisplayTextFor(modelItem => item.UpdatedAt)
            </td>


            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@Common.Edit</a> |
                 <a asp-action="Details" asp-route-id="@item.Id">@Common.Details</a> | 
                <a asp-action="Delete" asp-route-id="@item.Id">@Common.Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>