@using App.Resources.Areas.App.Domain.CustomerArea
@using Base.Resources
@using App.Enum.Enum
@model IEnumerable<App.BLL.DTO.AdminArea.BookingDTO?>

@{
    ViewData["Title"] = Common.Index;
    Layout = "_Layout";
}

<h1>@Common.Index</h1>

<p>
    <a asp-action="Create">@Common.CreateNew</a>
</p>
<p>
    <a asp-action="Print" target="_blank">@Booking.CreatePDF</a>
</p>
<form action="@Url.Action("SearchByCity")" method="post">
    <input type="text" name="search" />
    <input type="submit" value="@Common.Search" />
</form>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model!.DriverInfo)
            </th>

            <th>
                @Html.DisplayNameFor(model => model!.VehicleInfo)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model!.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model!.PickUpDateAndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model!.PickupAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model!.NeedAssistanceLeavingTheBuilding)
            </th>
            <th>
                @Html.DisplayNameFor(model => model!.PickupFloorNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model!.HasAnElevatorInThePickupBuilding)
            </th>
            <th>
                @Html.DisplayNameFor(model => model!.DestinationAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model!.NeedAssistanceEnteringTheBuilding)
            </th>
            <th>
                @Html.DisplayNameFor(model => model!.DestinationFloorNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model!.HasAnElevatorInTheDestinationBuilding)
            </th>
            <th>
                @Html.DisplayNameFor(model => model!.NumberOfPassengers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model!.HasAnAssistant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model!.AdditionalInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model!.StatusOfBooking)
            </th>
            @foreach (var i in Model)
            {
                if (i!.StatusOfBooking == StatusOfBooking.Declined)
                {
                    <th>
                        @Html.DisplayNameFor(model => model!.DeclineDateAndTime)
                    </th>
                }

            }

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item!.DriverInfo)
                </td>
                <td>
                    @Html.DisplayTextFor(modelItem => item!.VehicleInfo)
                </td>
                
                    
                <td>
                    @Html.DisplayFor(modelItem => item!.City!.CityName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item!.PickUpDateAndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item!.PickupAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item!.NeedAssistanceLeavingTheBuilding)
                </td>
                @if (item!.NeedAssistanceLeavingTheBuilding == true)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item!.PickupFloorNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item!.HasAnElevatorInThePickupBuilding)
                    </td>
                }
                else
                {
                    <td>
                    </td>
                    <td>
                        
                    </td>
                }

                <td>
                    @Html.DisplayFor(modelItem => item!.DestinationAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item!.NeedAssistanceEnteringTheBuilding)
                </td>
                @if (item!.NeedAssistanceEnteringTheBuilding == true)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item!.DestinationFloorNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item!.HasAnElevatorInTheDestinationBuilding)
                    </td>
                }
                else
                {
                    <td>
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item!.NumberOfPassengers)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item!.HasAnAssistant)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item!.AdditionalInfo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item!.StatusOfBooking)
                </td>

                @foreach (var i in Model)
                {
                    @if (item!.StatusOfBooking == StatusOfBooking.Declined)
                    {

                        <td>
                            @Html.DisplayFor(modelItem => item.DeclineDateAndTimeCustomerView)
                        </td>

                    }
                }
                <td>
                    @if (item!.StatusOfBooking == StatusOfBooking.Declined)
                    {
                        <p style="display: inline"><a asp-action="Delete" asp-route-id="@item.Id">@Common.Delete</a> |</p>
                    }
                    else
                    {
                        <p style="display: inline"><a asp-action="Decline" asp-route-id="@item.Id">@Booking.Decline</a> |</p>
                    }
                    @*<a asp-action="Edit" asp-route-id="@item.Id">@Common.Edit</a> |*@
                    <a asp-action="Details" asp-route-id="@item.Id">@Common.Details</a>

                </td>
            </tr>
        }
    </tbody>
</table>