@using Base.Resources
@model IEnumerable<App.BLL.DTO.AdminArea.CommentDTO>

@{
    ViewData["Title"] = Common.Index;
}

<h1>@Common.Index</h1>

<p>
    <a asp-action="Create">@Common.CreateNew</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Drive)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Drive!.Booking!.Driver)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommentText)
        </th>


        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Drive!.Booking!.PickUpDateAndTime)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Drive!.Booking!.Driver!.AppUser!.LastAndFirstName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.CommentText)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@Common.Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">@Common.Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">@Common.Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>