@using App.Resources.Areas.App.Domain.AdminArea
@using Base.Resources
@model WebApp.Areas.AdminArea.ViewModels.DeclineBookingViewModel
@{
    ViewData["Title"] = Booking.Decline;
}

<h1>@Booking.Decline</h1>

<h3>@Booking.AreYouSureYouWantToDeclineThis</h3>
<div>
    <h4>@Booking.BookingName</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShiftDurationTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShiftDurationTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer)
        </dd>


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Driver)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Driver)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VehicleType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PickUpDateAndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PickUpDateAndTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PickupAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PickupAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NeedAssistanceLeavingTheBuilding)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NeedAssistanceLeavingTheBuilding)
        </dd>
        @if (Model.NeedAssistanceLeavingTheBuilding)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PickupFloorNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PickupFloorNumber)
            </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NeedAssistanceEnteringTheBuilding)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NeedAssistanceEnteringTheBuilding)
        </dd>
        @if (Model.NeedAssistanceEnteringTheBuilding)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DestinationFloorNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DestinationFloorNumber)
            </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DestinationAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DestinationAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfPassengers)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfPassengers)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HasAnAssistant)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HasAnAssistant)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AdditionalInfo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AdditionalInfo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StatusOfBooking)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StatusOfBooking)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
    </dl>
    <form asp-action="Decline">
        <input type="hidden" asp-for="Id"/>
        <input type="submit" value="@Booking.Decline" class="btn btn-danger"/> |
        <a asp-action="Index">@Common.BackToList</a>
    </form>
</div>