@using App.Resources.Areas.App.Domain.AdminArea
@using Base.Resources
@model WebApp.Areas.AdminArea.ViewModels.DetailsDeleteBookingViewModel
@{
    ViewData["Title"] = Common.Delete;
}

<h1>@Common.Delete</h1>

<h3>@Common.AreYouSureYouWantToDeleteThis</h3>
<div>
    <h4>@Booking.BookingName</h4>
    <hr/>
    <partial name="AdminArea/PartialViews/_DetailsDeleteBooking" model="Model"/>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id"/>
        <input type="submit" value="@Common.Delete" class="btn btn-danger"/> |
        <a asp-action="Index">@Common.BackToList</a>
    </form>
</div>