@using Base.Resources
@using App.Resources.Areas.App.Domain.AdminArea
@model WebApp.Areas.AdminArea.ViewModels.CreateScheduleViewModel

@{
    ViewData["Title"] = Common.Create;
}

<h1>@Common.Create</h1>

<h4>@Schedule.ScheduleName</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DriverId" class="control-label"></label>
                <select asp-for="DriverId" class="form-control" asp-items="Model.Drivers">
                    <option>@Common.PleaseSelect</option>
                </select>
            </div>
            
            <div class="form-group">
                <label asp-for="VehicleId" class="control-label"></label>
                <select asp-for="VehicleId" class="form-control" asp-items="Model.Vehicles">
                    <option>@Common.PleaseSelect</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="StartDateAndTime" class="control-label"></label>
                <input asp-for="StartDateAndTime" class="form-control" />
                <span asp-validation-for="StartDateAndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDateAndTime" class="control-label"></label>
                <input asp-for="EndDateAndTime" class="form-control" />
                <span asp-validation-for="EndDateAndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value=@Common.Create class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Common.BackToList</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
